.landing__container {
  padding: 1em;
  text-align: left;
}


@media only screen and (min-width: 35em){
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}
